<h1>Blog posts</h1>

<div class="posts">
  <div class="create-post">
    <%= link_to('Create new', post_new_path) %>
  </div>

  <% Post.all.each do |p| %>
    <div class="post-item">
     <%= render('post', locals: { post: p }) %>
    </div>
  <% end %>
</div
