<div class="body">
  <%= post.body %>
</div>
<div class="info">
  <div class="author">
    Written by: <%= post.user.name %>
  </div>
  <div class="created">
    On: <%= post.created_at %>
  </div>
</div>
