.action-item {
  margin: 5px 10px 5px 0;

  a {
    padding: 5px 20px;
    background-color: #999;
    border-radius: 5px;
    color: white;
    text-decoration: none;

    &:hover {
      background-color: #777;
    }

    &.primary {
      background-color: #666;

      &:hover {
        background-color: #333;
      }
    }
  }
}
