.comments {
  .form {
    padding: 5px;

    background-color: #ccc;
    border-radius: 5px;
  }

  .list .item {
    margin-top: 10px;
    padding: 5px;

    &:nth-child(even) {
      background-color: #eee;
    }
  }

  .info {
    display: flex;

    font-size: 12px;
    justify-content: space-between;
  }
}
