.header {
  padding: 30px 20px;
  background-color: #ccc;
}

.messages {
  .message {
    margin: 3px;
    padding: 5px 20px;

    border-radius: 3px;

    &.error {
      background-color: #f00;
      border: 2px solid #f66;
    }

    &.notice {
      background-color: #9f9;
      border: 2px solid #090;
    }
  }
}
