.post {
  .tags, .actions, .info {
    margin-top: 20px;
  }
}

.posts {
  .post-item {
    margin: 10px 0;
    padding: 10px;

    background-color: #eee;
    border-radius: 10px;
    font-family: 'Arial';

    &:last-child {
      .info {
        padding-bottom: 0;
      }
    }

    .body {
      font-size: 16px;
    }

    .tags {
      margin: 10px 0;
      font-size: 14px;
    }

    .title a {
      text-decoration: none;
    }

    .info {
      display: flex;
      margin-top: 5px;
      padding-top: 10px;

      border-top: 1px solid #999;
      flex-wrap: wrap;
      font-size: 12px;
      justify-content: space-between;
    }
  }
}
