<div class="container">
  <div class="header">
    <h1>Header</h1>
  </div>

  <%= render('menu') %>

  <div class="messages">
    <% flash.each do |type, message| %>
      <div class="message <%= type %>"><%= message %></div>
    <% end %>
  </div>
</div>
